<header class="main-header">
  <div class="container center-block">
    <div class="logo">
      <a href=""/>
        Demo Maquetación
      </a>
    </div>
    <nav class="main-nav">
      <ul class="main-nav__menu">
        <li class="main-nav__menu-item">
          <a href="/" class="main-nav__menu-link">Inicio</a>
        </li>
        <li class="main-nav__menu-item">
          <a href="/" class="main-nav__menu-link">Demo 1</a>
        </li>
        <li class="main-nav__menu-item">
          <a href="/" class="main-nav__menu-link">Demo 2</a>
        </li>
        <li class="main-nav__menu-item">
          <a href="/" class="main-nav__menu-link">Demo 3</a>
        </li>
        <li class="main-nav__menu-item">
          <a href="/" class="main-nav__menu-link">Demo 4</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
