block config
  include ../config/config

doctype
html
  head
    title= `${pageTitle} - ${siteName}`
    meta(name="description" content=metaDescription)
    block styles
      link(rel="stylesheet" href="./css/main.css")
  body
    block content
      h1 Demo Maquetación
      p Esto es la plantilla

    block scripts
      script(src="/js/app.js")
